<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand"  do %>
        <%= image_tag "benfica-logo.png" %>
      <% end %>
    </div>
  </div>
</nav>
